# Income Class Prediction from Census Data
## Imputation

Due to the large size of the data set, preProcess() will not be used to impute the missing values, to avoid running out of memory. Each feature's missing value will be imputed one at a time using an appropriate subset of the data set where necessary.

In [1]:
library(dplyr)
library(ggplot2)
library(lattice)
library(stringr)
library(gridExtra)
library(caret)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'gridExtra' was built under R version 3.5.3"
Attaching package: 'gridExtra'

The following object is masked from 'package:dplyr':

    combine

### Imputing Features Missing in 1995 Data

In [2]:
X94 <- read.csv('C:/Datasets/censusincomeX94.csv')
X95 <- read.csv('C:/Datasets/censusincomeX95.csv')
y94 <- read.csv('C:/Datasets/censusincomey94.csv')

Training decision tree models using 5-fold cross validation:

In [9]:
regionmodel <- train(X94[,-1],y94[,2],method='rpart',trControl = trainControl(method='cv',number=5))
regionmodel

CART

98279 samples
  390 predictor
    6 classes: ' Abroad', ' Midwest', ' Northeast', ' Not in universe', ' South', ' West'

No pre-processing
Resampling: Cross-Validated (5 fold)
Summary of sample sizes: 78624, 78622, 78624, 78622, 78624
Resampling results across tuning parameters:

  cp          Accuracy   Kappa
  0.05809814  0.8930086  0.6267978
  0.09019832  0.8776441  0.5868241
  0.21967963  0.8677239  0.4639262

Accuracy was used to select the optimal model using the largest value.
The final value used for the model was cp = 0.05809814.

In [11]:
statemodel <- train(X94[,-1],y94[,3],method='rpart',trControl = trainControl(method='cv',number=5))
statemodel

Warning message in nominalTrainWorkflow(x = x, y = y, wts = weights, info = trainInfo, :
"There were missing values in resampled performance measures."

CART

98279 samples
  390 predictor
   50 classes: ' Abroad', ' Alabama', ' Alaska', ' Arizona', ' Arkansas', ' California', ' Colorado', ' Connecticut', ' Delaware', ' District of Columbia', ' Florida', ' Georgia', ' Idaho', ' Illinois', ' Indiana', ' Iowa', ' Kansas', ' Kentucky', ' Louisiana', ' Maine', ' Maryland', ' Massachusetts', ' Michigan', ' Minnesota', ' Mississippi', ' Missouri', ' Montana', ' Nebraska', ' Nevada', ' New Hampshire', ' New Jersey', ' New Mexico', ' New York', ' North Carolina', ' North Dakota', ' Not in universe', ' Ohio', ' Oklahoma', ' Oregon', ' Pennsylvania', ' South Carolina', ' South Dakota', ' Tennessee', ' Texas', ' Utah', ' Vermont', ' Virginia', ' West Virginia', ' Wisconsin', ' Wyoming'

No pre-processing
Resampling: Cross-Validated (5 fold)
Summary of sample sizes: 97572, 78762, 78768, 78766, 78760, 78767, ...
Resampling results across tuning parameters:

  cp           Accuracy   Kappa
  0.008519135  0.8692248  0.5366913
  0.009916805  0.8656168  0.5231865
  0.056905158  0.8530201  0.2060923

Accuracy was used to select the optimal model using the largest value.
The final value used for the model was cp = 0.008519135.

In [12]:
migmsamodel <- train(X94[,-1],y94[,4],method='rpart',trControl = trainControl(method='cv',number=5))
migmsamodel

CART

98279 samples
  390 predictor
    9 classes: ' Abroad to MSA', ' Abroad to nonMSA', ' MSA to MSA', ' MSA to nonMSA', ' Nonmover', ' NonMSA to MSA', ' NonMSA to nonMSA', ' Not identifiable', ' Not in universe'

No pre-processing
Resampling: Cross-Validated (5 fold)
Summary of sample sizes: 78622, 78624, 78624, 78624, 78622
Resampling results across tuning parameters:

  cp           Accuracy   Kappa
  0.002856976  0.9475982  0.8261007
  0.082735701  0.9359376  0.7864721
  0.616407207  0.8685066  0.3106448

Accuracy was used to select the optimal model using the largest value.
The final value used for the model was cp = 0.002856976.

In [13]:
migregmodel <- train(X94[,-1],y94[,5],method='rpart',trControl = trainControl(method='cv',number=5))
migregmodel

CART

98279 samples
  390 predictor
    8 classes: ' Abroad', ' Different county same state', ' Different division same region', ' Different region', ' Different state same division', ' Nonmover', ' Not in universe', ' Same county'

No pre-processing
Resampling: Cross-Validated (5 fold)
Summary of sample sizes: 78621, 78623, 78625, 78622, 78625
Resampling results across tuning parameters:

  cp           Accuracy   Kappa
  0.000247799  0.9392342  0.7991918
  0.082735701  0.9278689  0.7606918
  0.570170836  0.8851824  0.4505382

Accuracy was used to select the optimal model using the largest value.
The final value used for the model was cp = 0.000247799.

In [14]:
movregmodel <- train(X94[,-1],y94[,6],method='rpart',trControl = trainControl(method='cv',number=5))
movregmodel

CART

98279 samples
  390 predictor
    9 classes: ' Abroad', ' Different county same state', ' Different state in Midwest', ' Different state in Northeast', ' Different state in South', ' Different state in West', ' Nonmover', ' Not in universe', ' Same county'

No pre-processing
Resampling: Cross-Validated (5 fold)
Summary of sample sizes: 78624, 78623, 78624, 78623, 78622
Resampling results across tuning parameters:

  cp           Accuracy   Kappa
  0.000247799  0.9393258  0.7994223
  0.082735701  0.9278686  0.7606894
  0.570170836  0.8851834  0.4505378

Accuracy was used to select the optimal model using the largest value.
The final value used for the model was cp = 0.000247799.

In [15]:
sunbeltmodel <- train(X94[,-1],y94[,7],method='rpart',trControl = trainControl(method='cv',number=5))
sunbeltmodel

CART

98279 samples
  390 predictor
    3 classes: ' No', ' Not in universe', ' Yes'

No pre-processing
Resampling: Cross-Validated (5 fold)
Summary of sample sizes: 78624, 78622, 78623, 78624, 78623
Resampling results across tuning parameters:

  cp          Accuracy   Kappa
  0.01125095  0.9441081  0.7993937
  0.09019832  0.9322030  0.7625213
  0.54284261  0.8916668  0.4469628

Accuracy was used to select the optimal model using the largest value.
The final value used for the model was cp = 0.01125095.

Using decision tree models to impute missing values from 1995 data:

In [16]:
y95 <- as.data.frame(predict(regionmodel,X95))
names(y95) <- c('region')
y95$state <-predict(statemodel,X95)
y95$migration.msa <-predict(migmsamodel,X95)
y95$migration.reg <-predict(migregmodel,X95)
y95$move.reg <-predict(movregmodel,X95)
y95$sunbelt <-predict(sunbeltmodel,X95)

Export the data as a backup.

In [22]:
write.csv(y95,'C:/Datasets/censusincomey95.csv')

Summary of imputed data

In [9]:
summary(y95)

              region                   state                migration.msa
  Not in universe: 1224    Not in universe:98015    Not in universe:98015
  South          :96791
          migration.reg               move.reg                 sunbelt
  Not in universe: 1224    Not in universe: 1224    No             :96791
  Same county    :96791    Same county    :96791    Not in universe: 1224

Data set after 1995 imputation:

In [14]:
df <- read.csv('C:/Datasets/censusincomedf.csv')
df[df$year=='95',c(22:23,27:29,31)] <- y95
head(df,5)

  X age class.worker                    industry occupation
1 1 73   Not in universe                0         0
2 2 58   Self-employed-not incorporated 4        34
3 3 18   Not in universe                0         0
4 4  9   Not in universe                0         0
5 5 10   Not in universe                0         0
  edu                         wage.hr recent.enroll    marital
1  High school graduate       0        Not in universe  Widowed
2  Some college but no degree 0        Not in universe  Divorced
3  10th grade                 0        High school      Never married
4  Children                   0        Not in universe  Never married
5  Children                   0        Not in universe  Never married
  major.industry               ... father.nat     mother.nat     self.nat
1  Not in universe or children ...  United-States  United-States  United-States
2  Construction                ...  United-States  United-States  United-States
3  Not in universe or children ...  Vietnam        Vietnam        Vietnam
4  Not in universe or children ...  United-States  United-States  United-States
5  Not in universe or children ...  United-States  United-States  United-States
  citizen                              self.employed va.quest
1  Native- Born in the United States   0              Not in universe
2  Native- Born in the United States   0              Not in universe
3  Foreign born- Not a citizen of U S  0              Not in universe
4  Native- Born in the United States   0              Not in universe
5  Native- Born in the United States   0              Not in universe
  vet.benefit wk.worked year income
1 2            0        95    - 50000.
2 2           52        94    - 50000.
3 2            0        95    - 50000.
4 0            0        94    - 50000.
5 0            0        94    - 50000.

### Imputing Remaining Missing Values

The dataframe above was exported and is loaded below (avoids having to re-run all the code above).

In [2]:
df <- read.csv('C:/Datasets/censusincomedfimpute.csv')

Convert appropriate features to factors.

In [3]:
df$industry <-factor(df$industry)
df$occupation <-factor(df$occupation)
df$self.employed <-factor(df$self.employed)
df$vet.benefit <-factor(df$vet.benefit)
df$year <-factor(df$year)
df <- df[,-c(1,2)]
summary(df)

      age                                 class.worker      industry
 Min.   : 0.00    Not in universe               :97029   0      :97467
 1st Qu.:16.00    Private                       :72021   33     :17069
 Median :34.00    Self-employed-not incorporated: 8442   43     : 8283
 Mean   :34.93    Local government              : 7783   4      : 5984
 3rd Qu.:50.00    State government              : 4227   42     : 4683
 Max.   :90.00    Self-employed-incorporated    : 3264   45     : 4482
                 (Other)                        : 3528   (Other):58326
   occupation                             edu           wage.hr
 0      :97467    High school graduate      :48374   Min.   :   0.00
 2      : 8756    Children                  :44347   1st Qu.:   0.00
 26     : 7886    Some college but no degree:27809   Median :   0.00
 19     : 5412    Bachelors degree(BA AB BS):19859   Mean   :  56.34
 29     : 5105    7th and 8th grade         : 7976   3rd Qu.:   0.00
 36     : 4144    10th grade                : 7539   Max.   :9999.00
 (Other):67524   (Other)                    :40390
                recent.enroll                                marital
  College or university:  5679    Divorced                       :12707
  High school          :  6853    Married-A F spouse present     :  665
  Not in universe      :183762    Married-civilian spouse present:84194
                                  Married-spouse absent          : 1517
                                  Never married                  :83296
                                  Separated                      : 3459
                                  Widowed                        :10456
                            major.industry
  Not in universe or children      :97467
  Retail trade                     :17069
  Manufacturing-durable goods      : 9014
  Education                        : 8283
  Manufacturing-nondurable goods   : 6895
  Finance insurance and real estate: 6145
 (Other)                           :51421
                       major.occuapation                           race
  Not in universe               :97467    Amer Indian Aleut or Eskimo:  2242
  Adm support including clerical:14836    Asian or Pacific Islander  :  5821
  Professional specialty        :13940    Black                      : 20206
  Executive admin and managerial:12495    Other                      :  3645
  Other service                 :12097    White                      :164380
  Sales                         :11781
 (Other)                        :33678
                       hispanic           sex                      union
  All other                :168803    Female:102400    No             : 16032
  Mexican-American         :  8008    Male  : 93894    Not in universe:177232
  Mexican (Mexicano)       :  7210                     Yes            :  3030
  Central or South American:  3891
  Puerto Rican             :  3306
  Other Spanish            :  2476
 (Other)                   :  2600
              reason.unemployed                              employ.status
  Job leaver           :   598    Children or Armed Forces          :120632
  Job loser - on layoff:   976    Full-time schedules               : 40728
  New entrant          :   438    Not in labor force                : 26726
  Not in universe      :190226    PT for non-econ reasons usually FT:  3322
  Other job loser      :  2038    Unemployed full-time              :  2310
  Re-entrant           :  2018    PT for econ reasons usually PT    :  1209
                                 (Other)                            :  1367
   cap.gains          cap.loss          dividend
 Min.   :    0.0   Min.   :   0.00   Min.   :    0.0
 1st Qu.:    0.0   1st Qu.:   0.00   1st Qu.:    0.0
 Median :    0.0   Median :   0.00   Median :    0.0
 Mean   :  441.9   Mean   :  37.93   Mean   :  200.7
 3rd Qu.:    0.0   3rd Qu.:   0.00   3rd Qu.:    0.0
 Max.   :99999.0   Max.   :4608.00   Max.   :99999.0

                         tax.status                 region
  Head of household           : 7425    Abroad         :   530
  Joint both 65+              : 8326    Midwest        :  3559
  Joint both under 65         :67367    Northeast      :  2700
  Joint one under 65 & one 65+: 3864    Not in universe: 83771
  Nonfiler                    :71903    South          :101666
  Single                      :37409    West           :  4068

              state                                          family.stat
  Not in universe:180562    Householder                            :53242
  California     :  1710    Child <18 never marr not in subfamily  :47219
  Utah           :  1061    Spouse of householder                  :41670
  Florida        :   847    Nonfamily householder                  :22205
  North Carolina :   810    Child 18+ never marr Not in a subfamily:12016
 (Other)         : 10597    Secondary individual                   : 6109
 NA's            :   707   (Other)                                 :13833
                      household.summary     weight
  Householder                  :75461   Min.   :   37.87
  Child under 18 never married :47318   1st Qu.: 1061.53
  Spouse of householder        :41684   Median : 1620.17
  Child 18 or older            :14416   Mean   : 1743.27
  Other relative of householder: 9651   3rd Qu.: 2194.06
  Nonrelative of householder   : 7585   Max.   :18656.30
 (Other)                       :  179
           migration.msa                          migration.reg
  Not in universe :99434    Same county                  :106570
  Nonmover        :81128    Nonmover                     : 81128
  MSA to MSA      :10572    Different county same state  :  2792
  NonMSA to nonMSA: 2802    Not in universe              :  2643
  MSA to nonMSA   :  787    Different region             :  1178
  NonMSA to MSA   :  615    Different state same division:   990
 (Other)          :  956   (Other)                       :   993
                         move.reg
  Same county                :106570
  Nonmover                   : 81128
  Different county same state:  2792
  Not in universe            :  2643
  Different state in South   :   972
  Different state in West    :   678
 (Other)                     :  1511
                              yr.house                 sunbelt
  No                              :15732    No             :106750
  Not in universe under 1 year old:99434    Not in universe: 83771
  Yes                             :81128    Yes            :  5773




  num.employer                      children               father.nat
 Min.   :0.000    Both parents present  : 36107    United-States:156037
 1st Qu.:0.000    Father only present   :  1871    Mexico       :  9948
 Median :1.000    Mother only present   : 12517    Puerto-Rico  :  2676
 Mean   :1.988    Neither parent present:  1638    Italy        :  2212
 3rd Qu.:4.000    Not in universe       :144161    Canada       :  1380
 Max.   :6.000                                    (Other)       : 17338
                                                  NA's          :  6703
          mother.nat               self.nat
  United-States:157355    United-States:173783
  Mexico       :  9721    Mexico       :  5759
  Puerto-Rico  :  2468    Puerto-Rico  :  1400
  Italy        :  1844    Germany      :   850
  Canada       :  1451    Philippines  :   844
 (Other)       : 17348   (Other)       : 10269
 NA's          :  6107   NA's          :  3389
                                         citizen       self.employed
  Foreign born- Not a citizen of U S         : 13385   0:177445
  Foreign born- U S citizen by naturalization:  5851   1:  2698
  Native- Born abroad of American Parent(s)  :  1753   2: 16151
  Native- Born in Puerto Rico or U S Outlying:  1519
  Native- Born in the United States          :173786


             va.quest      vet.benefit   wk.worked     year
  No             :  1593   0: 44334    Min.   : 0.00   94:98279
  Not in universe:194310   1:  1984    1st Qu.: 0.00   95:98015
  Yes            :   391   2:149976    Median :12.00
                                       Mean   :23.55
                                       3rd Qu.:52.00
                                       Max.   :52.00

       income
  - 50000.:183912
  50000+. : 12382

Check which features have missing values.

In [4]:
for(i in 1:42){
    if(sum(is.na(df[,i]))!=0){
        print(names(df)[i])
        print(sum(is.na(df[,i])))
    }   
}

[1] "state"
[1] 707
[1] "father.nat"
[1] 6703
[1] "mother.nat"
[1] 6107
[1] "self.nat"
[1] 3389

The state model predicted 'Not in universe' for all the missing values for the state factor in 1995, so the NA's in the state column from 1994 will be replaced with 'Not in universe'.

In [5]:
df[is.na(df$state),'state'] <- ' Not in universe'

First if nationality will be imputed based on nationality of parents/children. If either parents are US nationality, then the child is assumed to be US nationality.

In [6]:
df[!is.na(df$father.nat) & (df$father.nat == ' United-States') & is.na(df$self.nat),'self.nat']<-df[!is.na(df$father.nat) & (df$father.nat == ' United-States') & is.na(df$self.nat),'father.nat']

In [7]:
df[!is.na(df$mother.nat) & (df$mother.nat == ' United-States') & is.na(df$self.nat),'self.nat']<-df[!is.na(df$mother.nat) & (df$mother.nat == ' United-States') & is.na(df$self.nat),'mother.nat']

Otherwise the child will be assumed to have the nationality of the father, or mother if the father's nationality is unknown.

In [8]:
df[!is.na(df$father.nat) & is.na(df$self.nat),'self.nat']<-df[!is.na(df$father.nat) & is.na(df$self.nat),'father.nat']

In [9]:
df[!is.na(df$mother.nat) & is.na(df$self.nat),'self.nat']<-df[!is.na(df$mother.nat) & is.na(df$self.nat),'mother.nat']

The mother and father are assumed to have the same nationality if one of their nationalities is unknown.

In [10]:
df[!is.na(df$mother.nat) & is.na(df$father.nat),'father.nat']<-df[!is.na(df$mother.nat) & is.na(df$father.nat),'mother.nat']

In [11]:
df[is.na(df$mother.nat) & !is.na(df$father.nat),'mother.nat']<-df[is.na(df$mother.nat) & !is.na(df$father.nat),'father.nat']

Otherwise they are assumed to have the same nationality as the child if known.

In [12]:
df[!is.na(df$self.nat) & is.na(df$father.nat),'father.nat']<-df[!is.na(df$self.nat) & is.na(df$father.nat),'self.nat']

In [13]:
df[!is.na(df$self.nat) & is.na(df$mother.nat),'mother.nat']<-df[!is.na(df$self.nat) & is.na(df$mother.nat),'self.nat']

This leaves the cases where all three nationalities are missing. Theses will be imputed using other relevant factors, which are first dummy coded.

In [28]:
dfnat <- df[!is.na(df$self.nat),c('race','hispanic','region','state','citizen','income')]
dummynat <- dummyVars(income~.,dfnat,fullRank=TRUE)
Xnat <- predict(dummynat,dfnat)
head(Xnat,5)

Warning message in model.frame.default(Terms, newdata, na.action = na.action, xlev = object$lvls):
"variable 'income' is not a factor"

  race. Asian or Pacific Islander race. Black race. Other race. White
1 0                               0           0           1
2 0                               0           0           1
3 1                               0           0           0
4 0                               0           0           1
5 0                               0           0           1
  hispanic. Central or South American hispanic. Chicano hispanic. Cuban
1 0                                   0                 0
2 0                                   0                 0
3 0                                   0                 0
4 0                                   0                 0
5 0                                   0                 0
  hispanic. Do not know hispanic. Mexican-American hispanic. Mexican (Mexicano)
1 0                     0                          0
2 0                     0                          0
3 0                     0                          0
4 0                     0                          0
5 0                     0                          0
  ... state. Utah state. Vermont state. Virginia state. West Virginia
1 ... 0           0              0               0
2 ... 0           0              0               0
3 ... 0           0              0               0
4 ... 0           0              0               0
5 ... 0           0              0               0
  state. Wisconsin state. Wyoming
1 0                0
2 0                0
3 0                0
4 0                0
5 0                0
  citizen. Foreign born- U S citizen by naturalization
1 0
2 0
3 0
4 0
5 0
  citizen. Native- Born abroad of American Parent(s)
1 0
2 0
3 0
4 0
5 0
  citizen. Native- Born in Puerto Rico or U S Outlying
1 0
2 0
3 0
4 0
5 0
  citizen. Native- Born in the United States
1 1
2 1
3 0
4 1
5 1

In [29]:
yselfnat <- df[!is.na(df$self.nat),'self.nat']
yfathernat <- df[!is.na(df$self.nat),'father.nat']
ymothernat <- df[!is.na(df$self.nat),'mother.nat']

Decision tree models are trained using 5-fold cross validation.

In [31]:
selfnatmodel <- train(Xnat,yselfnat,method='rpart',trControl=trainControl(method='cv',number=5))
selfnatmodel

CART

193484 samples
    71 predictor
    42 classes: ' Cambodia', ' Canada', ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador', ' El-Salvador', ' England', ' France', ' Germany', ' Greece', ' Guatemala', ' Haiti', ' Holand-Netherlands', ' Honduras', ' Hong Kong', ' Hungary', ' India', ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico', ' Nicaragua', ' Outlying-U S (Guam USVI etc)', ' Panama', ' Peru', ' Philippines', ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' South Korea', ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' United-States', ' Vietnam', ' Yugoslavia'

No pre-processing
Resampling: Cross-Validated (5 fold)
Summary of sample sizes: 154784, 154789, 154791, 154785, 154787
Resampling results across tuning parameters:

  cp          Accuracy   Kappa
  0.03502645  0.9423930  0.6984328
  0.03792820  0.9325629  0.6447530
  0.28437163  0.9107422  0.2474609

Accuracy was used to select the optimal model using the largest value.
The final value used for the model was cp = 0.03502645.

In [32]:
fathernatmodel <- train(Xnat,yfathernat,method='rpart',trControl=trainControl(method='cv',number=5))
fathernatmodel

CART

193484 samples
    71 predictor
    42 classes: ' Cambodia', ' Canada', ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador', ' El-Salvador', ' England', ' France', ' Germany', ' Greece', ' Guatemala', ' Haiti', ' Holand-Netherlands', ' Honduras', ' Hong Kong', ' Hungary', ' India', ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico', ' Nicaragua', ' Outlying-U S (Guam USVI etc)', ' Panama', ' Peru', ' Philippines', ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' South Korea', ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' United-States', ' Vietnam', ' Yugoslavia'

No pre-processing
Resampling: Cross-Validated (5 fold)
Summary of sample sizes: 154784, 154790, 154787, 154788, 154787
Resampling results across tuning parameters:

  cp          Accuracy   Kappa
  0.02379494  0.8559571  0.3743215
  0.02627358  0.8476979  0.3455345
  0.12087015  0.8312828  0.1556817

Accuracy was used to select the optimal model using the largest value.
The final value used for the model was cp = 0.02379494.

In [33]:
mothernatmodel <- train(Xnat,ymothernat,method='rpart',trControl=trainControl(method='cv',number=5))
mothernatmodel

CART

193484 samples
    71 predictor
    42 classes: ' Cambodia', ' Canada', ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador', ' El-Salvador', ' England', ' France', ' Germany', ' Greece', ' Guatemala', ' Haiti', ' Holand-Netherlands', ' Honduras', ' Hong Kong', ' Hungary', ' India', ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico', ' Nicaragua', ' Outlying-U S (Guam USVI etc)', ' Panama', ' Peru', ' Philippines', ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' South Korea', ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' United-States', ' Vietnam', ' Yugoslavia'

No pre-processing
Resampling: Cross-Validated (5 fold)
Summary of sample sizes: 154788, 154784, 154791, 154788, 154785
Resampling results across tuning parameters:

  cp          Accuracy   Kappa
  0.02312502  0.8607120  0.3307438
  0.02381309  0.8548459  0.3345540
  0.13285667  0.8361929  0.1609285

Accuracy was used to select the optimal model using the largest value.
The final value used for the model was cp = 0.02312502.

The predictors are dummy coded for the missing values.

In [35]:
dfnanat <- df[is.na(df$self.nat),c('race','hispanic','region','state','citizen','income')]
Xnanat <- predict(dummynat,dfnanat)
head(Xnanat,5)

Warning message in model.frame.default(Terms, newdata, na.action = na.action, xlev = object$lvls):
"variable 'income' is not a factor"

    race. Asian or Pacific Islander race. Black race. Other race. White
12  0                               1           0           0
88  0                               0           1           0
93  0                               0           0           1
130 1                               0           0           0
194 0                               0           0           1
    hispanic. Central or South American hispanic. Chicano hispanic. Cuban
12  0                                   0                 0
88  0                                   0                 0
93  0                                   0                 0
130 0                                   0                 0
194 0                                   0                 0
    hispanic. Do not know hispanic. Mexican-American
12  0                     0
88  0                     0
93  0                     0
130 0                     0
194 0                     0
    hispanic. Mexican (Mexicano) ... state. Utah state. Vermont state. Virginia
12  0                            ... 0           0              0
88  0                            ... 0           0              0
93  0                            ... 0           0              0
130 0                            ... 0           0              0
194 0                            ... 0           0              0
    state. West Virginia state. Wisconsin state. Wyoming
12  0                    0                0
88  0                    0                0
93  0                    0                0
130 0                    0                0
194 0                    0                0
    citizen. Foreign born- U S citizen by naturalization
12  0
88  0
93  1
130 0
194 0
    citizen. Native- Born abroad of American Parent(s)
12  0
88  0
93  0
130 0
194 0
    citizen. Native- Born in Puerto Rico or U S Outlying
12  0
88  0
93  0
130 0
194 0
    citizen. Native- Born in the United States
12  0
88  0
93  0
130 0
194 0

THe missing values are imputed using the decision tree models.

In [37]:
nat <- as.data.frame(predict(selfnatmodel,Xnanat))
names(nat)<-c('self.nat')
nat$father.nat <- predict(fathernatmodel,Xnanat)
nat$mother.nat <- predict(mothernatmodel,Xnanat)
summary(nat)

      self.nat             father.nat            mother.nat
  Germany :2793    United-States:2802    United-States:2802
  Cuba    :   9    Mexico       :   8    Mexico       :   8
  Mexico  :   8    Cambodia     :   0    Cambodia     :   0
  Cambodia:   0    Canada       :   0    Canada       :   0
  Canada  :   0    China        :   0    China        :   0
  China   :   0    Columbia     :   0    Columbia     :   0
 (Other)  :   0   (Other)       :   0   (Other)       :   0

In [38]:
df[is.na(df$self.nat),'self.nat']<-nat$self.nat
df[is.na(df$father.nat),'father.nat']<-nat$father.nat
df[is.na(df$mother.nat),'mother.nat']<-nat$mother.nat

The complete data set with no missing values is exported for later use.

In [42]:
write.csv(df,'C:/Datasets/censusincomedfFull.csv')

The data is dummy coded and exported for later use.

In [43]:
dummy <- dummyVars(income~.,df,fullRank=TRUE)
X <- predict(dummy,df)
dimnames(X)[[2]] <- gsub(' ','',dimnames(X)[[2]])
head(X,5)

Warning message in model.frame.default(Terms, newdata, na.action = na.action, xlev = object$lvls):
"variable 'income' is not a factor"

  age class.worker.Localgovernment class.worker.Neverworked
1 73  0                            0
2 58  0                            0
3 18  0                            0
4  9  0                            0
5 10  0                            0
  class.worker.Notinuniverse class.worker.Private
1 1                          0
2 0                          0
3 1                          0
4 1                          0
5 1                          0
  class.worker.Self-employed-incorporated
1 0
2 0
3 0
4 0
5 0
  class.worker.Self-employed-notincorporated class.worker.Stategovernment
1 0                                          0
2 1                                          0
3 0                                          0
4 0                                          0
5 0                                          0
  class.worker.Withoutpay industry.1 ...
1 0                       0          ...
2 0                       0          ...
3 0                       0          ...
4 0                       0          ...
5 0                       0          ...
  citizen.Native-BorninPuertoRicoorUSOutlying
1 0
2 0
3 0
4 0
5 0
  citizen.Native-BornintheUnitedStates self.employed.1 self.employed.2
1 1                                    0               0
2 1                                    0               0
3 0                                    0               0
4 1                                    0               0
5 1                                    0               0
  va.quest.Notinuniverse va.quest.Yes vet.benefit.1 vet.benefit.2 wk.worked
1 1                      0            0             1              0
2 1                      0            0             1             52
3 1                      0            0             1              0
4 1                      0            0             0              0
5 1                      0            0             0              0
  year.95
1 1
2 0
3 1
4 0
5 0

In [44]:
write.csv(X,'C:/Datasets/censusincomeXFull.csv')